
.hidden {
    opacity: 0;
    transition: all 1.5s ease;
}

.show {
    opacity: 1;
}

.titleHidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s ease;
}

.titleShow {
    transform: translateY(0);
    opacity: 1;
}
