
.contact .content{
    color: white;
    height: 70vh;
    padding: 83px 95px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.contact .content::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../Images/wedding.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.7);
    border-radius: 10px;

}

.contact .text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}

