
.LogoText {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 1.6em;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10% 10px;
    position: sticky;
    top: -7%;
    width: 100%;
    background-color: #ffecefdd;
    backdrop-filter: blur(12px);
    z-index: 2;
    box-shadow: 0px 0px 21px 2px #00000024;
}

.navLinks {
    list-style: none;

}

.navLinks li {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
}

a:hover {
    color: #251B37;
}

.nonActive:hover,
.navActive {
    transition: 0.3s cubic-bezier(0.5, 2.5, 0.75, 0.12);
    transform: translateY(-4px);
    box-shadow: 0px 3px 0px #251B37;
    color: #251B37;
}

/* Burger Animaytion */

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 2px;
    transition: 0.4s ease;
}

.br {
    height: 1px;
    width: 80%;
    opacity: 60%;
    margin: auto;
    border-radius: 1px;
    background-color: #251B37;
}
 