.btn {
    color: #251B37;
    border: 2px solid #251B37;
    border-radius: 22px;
    padding: 8px 18px;
    transition: 0.3s cubic-bezier(0.5, 2.5, 0.75, 0.12);
}

.btn:hover {
    color: #251B37;
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px #251B37;
}

.bookBtn {
    background-color: #FFCACA;
    border-radius: 27px;
    padding: 8px 30px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}

.bookBtn:hover {
    background-color: #FFCACA;
}

.shape {
    position: absolute;
}

.shape img {
    height: 200px;
}

.stuck {
    overflow: hidden;
}

.space20 {
    margin: 20px;
}

.highlight {
    color: #ff8080;
}

.seperator {
    width: 20%;
    margin: 2% 0;
}

.darkPink {
    background-color: #ffdee3;
}

.space40 {
    margin: 40px;
}

.subtitle {
    background-color: #FFCACA;
    text-align: center;
    margin: 0px 0px;
    padding: 30px;
}

.centerCol {
    display: flex;
    justify-content: center;
    text-align: center;
}

.verticalCenter {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
    padding: 20px;
}

.textContainer {
    background-color: #fff3f3;
    height: fit-content;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.textBorder {
    padding: 1.5%;
    border: 3px solid #FFCACA;
    border-radius: 5px;
}
