@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #FFECEF;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: visible;
}

section {
    padding: 2% 10%;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.6;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 5px;
    font-size: 3.4em;
}

h3 {
    font-family: 'Crimson Text', serif;
    font-size: 3em;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    word-spacing: 3px;
    line-height: 1.5;
    font-weight: lighter;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

/* Navigation Bar */

.LogoText {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 1.6em;
}

li,
a,
button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #251B37;
    text-decoration: none;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10% 10px;
    position: sticky;
    top: -7%;
    width: 100%;
    background-color: #ffecefdd;
    backdrop-filter: blur(12px);
    z-index: 2;
    box-shadow: 0px 0px 21px 2px #00000024;
}

.navLinks {
    list-style: none;

}

.navLinks li {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
}

a:hover {
    color: #251B37;
}

.nonActive:hover,
.navActive {
    transition: 0.3s cubic-bezier(0.5, 2.5, 0.75, 0.12);
    transform: translateY(-4px);
    box-shadow: 0px 3px 0px #251B37;
    color: #251B37;
}

.btn {
    color: #251B37;
    border: 2px solid #251B37;
    border-radius: 22px;
    padding: 8px 18px;
    transition: 0.3s cubic-bezier(0.5, 2.5, 0.75, 0.12);
}

.btn:hover {
    color: #251B37;
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px #251B37;
}

/* Burger Animaytion */

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 2px;
    transition: 0.4s ease;
}

.br {
    height: 1px;
    width: 80%;
    opacity: 60%;
    margin: auto;
    border-radius: 1px;
    background-color: #251B37;
}

/* content  */

.content {
    padding: 3% 10%;
}

.mainPhotoCnt {
    text-align: center;
}

.mainPhoto {
    height: 520px;
    border-radius: 260px;
    /* box-shadow: 7px 9px 18px 3px #8f8486; */
}

.bookBtn {
    background-color: #FFCACA;
    border-radius: 26px;
    padding: 8px 30px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}

.bookBtn:hover {
    background-color: #FFCACA;
}

.titleCol {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

/* Weclocm */
.welcome {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    line-height: 1.2;
}

.welcome ul {
    list-style: none;
}

.welcome ul p {
    display: inline-block;
}

.welcome .exprience {
    padding: 5px;
    border-radius: 9px;
    background-color: #FFECEF;
    width: fit-content;
    position: absolute;
    bottom: -38px;
    left: 51px;
}

.aboutImage {
    width: fit-content;
    position: relative;
}

.aboutImage::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #FFCACA;
    left: -18px;
    top: -18px;
    z-index: -1;
    border-radius: 10px;
}

.aboutImage img {
    height: 75vh;
    border-radius: 10px;

}

.shape {
    position: absolute;
}

.shape img {
    height: 200px;
}

.welcome .shape1 {
    top: -247px;
    left: -920px;
    position: absolute;
    transform: rotateZ(308deg);
}

.welcome .shape2 {
    top: 22px;
    left: 634px;
    position: absolute;
    transform: rotateZ(16deg) scale(1.26);
}


/* Events */

.events {
    text-align: center;
}

.eventCard {
    width: 34%;
    text-align: center;
    display: inline-block;
    margin: 20px 20px;
}

.cardText {
    background-color: #FFF;
    text-align: center;
    padding: 38px 49px 11px;
    margin: -24px 24px 0;
    border-radius: 10px;
    position: relative;
}

.cardIcon {
    background-color: #fff;
    font-size: 2.5em;
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: -73px 0;
    left: 50%;
    transform: translateX(-50%) translateY(-27px);
    z-index: 1;
}

.eventCard img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.card {
    background-color: #FFECEF;
    border: none;
}

.imgContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.imgZoom {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.imgZoom:hover {
    transform: scale(1.2);
}

/* Gallery */
.gallery {
    text-align: center;
}

.galleryContent .longImg {
    width: 100%;
    object-fit: cover;
    height: 81.5vh;
}

.galleryContent img {
    border-radius: 10px;

}

.galleryContent .shortImg {
    width: 100%;
    height: 39vh;
    object-fit: cover;
}

.galleryContent .top {
    margin-bottom: 12px;
}

.galleryContent .bottom {
    margin-top: 12px;
}

.gallery .shape1 {
    top: 553px;
    left: -314px;
    position: absolute;
    transform: rotateZ(267deg);
}

.gallery .shape2 {
    top: 63px;
    left: 1210px;
    position: absolute;
    transform: rotateZ(299deg) scale(1.5);
}

.proofWork {
    background-color: #ffdee3;
    padding: 10px;
    margin: 60px 30px;
    border-radius: 10px;
}

.workCard h3,
.workCard p {
    display: inline-block;

}

.workCard {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.workIcon {
    font-size: 3em;
    background-color: #ff8080;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #fff;
    position: relative;
}

.workIcon::before {
    content: "";
    border: 3px #ff8080 solid;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.16);
    border-style: dashed;
    animation: rotate 30s infinite linear;

}

@keyframes rotate {

    from {
        transform: rotateZ(0) scale(1.16);
    }

    to {
        transform: rotateZ(360deg) scale(1.16);
    }

}

.workContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Reuseable */

.space20 {
    margin: 20px;
}

.highlight {
    color: #ff8080;
}

.seperator {
    width: 20%;
    margin: 2% 0;
}

.darkPink {
    background-color: #ffdee3;
}

.space40 {
    margin: 40px;
}

.subtitle {
    background-color: #FFCACA;
    text-align: center;
    margin: 0px 0px;
    padding: 30px;
}

.centerCol {
    display: flex;
    justify-content: center;
    text-align: center;
}

.verticalCenter {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
    padding: 20px;
}

.textContainer {
    background-color: #fff3f3;
    height: fit-content;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.textBorder {
    padding: 1.5%;
    border: 3px solid #FFCACA;
    border-radius: 5px;
}

/* Testimonials */

.testimonial {
    text-align: center;
}

.testPic{
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial .circleFrame::before{
    transform: scale(1.29);
}

.portraitPic {
    height: 80%;
    border-radius: 50%;
}

.hiItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hiItem i {
    font-size: 3em;
}

/* Footer */

.footer .shape1{
    top: 232px;
    left: 1204px;
    position: absolute;
    transform: rotateZ(266deg);
}

.footer .shape2{
    top: 3px;
    left: -167px;
    position: absolute;
    transform: rotateZ(105deg);
}

.locText {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer {
    padding: 7%;
    height: 85vh;
}

.footer h3{
    font-size: 2em;
}

.footerList{
    list-style: none;
}
.footerList li{
    padding: 7px 0;
}

.footerList a{
    font-weight: 100;

}

.footer .contactList{
    list-style: none;
}

.footer .contactList i{
    font-size: 1em;
    background-color: #ff8080;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer .contactList p{
    display: inline-block;
}

.footer .socials i {
    font-size: 2em;
    color: #251B37;
    padding: 2px 1vw;
    margin: 1vw;
}

.footer .socials i:hover {
    transition: 0.3s cubic-bezier(0.5, 2.5, 0.75, 0.12);
    transform: translateY(-4px);
    box-shadow: 0px 3px 0px #251B37;
    color: #251B37;
}

.footer input{
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.footer form{
    padding: 15px 0;
}

.copyright{
    background-color: #ff8080;
    padding: 5px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p{
    margin: 10px;
}

/* Teams */
.team{
    text-align: center;
}

.teamProfile img {
    width: 180px;
    border-radius: 50%;
}

.teamContainer{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.teamCard div{
    padding: 12px 0;
}

.circleFrame::before{
    content: "";
    background-image: url(./Images/circleBorder2.png);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.4);
}

.teamProfile{
    position: relative;
}

.teamCard {
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.teamSocials i{
    font-size: 1.4em;
}

.teamSocials a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    background-color: #ffdee3;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

/* Contact Section  */

.contact .content{
    color: white;
    height: 70vh;
    padding: 83px 95px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.contact .content::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./Images/wedding.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.7);
    border-radius: 10px;

}

.contact .text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}


/* Animation things */

.hidden {
    opacity: 0;
    transition: all 1s ease;
}

.show {
    opacity: 1;
}

.titleHidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.titleShow {
    transform: translateY(0);
    opacity: 1;
}

/* BookingForm */
.booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 3% 10%;
}

.formContainer {
    width: 50vw;
    text-align: center;
}

.textFeild {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.textFeild input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1em;
    border: none;
    background: none;
    outline: none;
}

.textFeild label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}

.textFeild span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #251B37;
    transition: all 0.3s ease;
}

.textFeild input:focus~label,
.textFeild input:valid~label,
.textFeild input:hover~label {
    top: -5px;
    color: #251B37;
}

.textFeild input:focus~span::before,
.textFeild input:hover~span::before,
.textFeild input:valid~span::before {
    width: 100%;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact */
.sideImage {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #FFCACA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.contactFooter i {
    padding: 2px 10px;
    margin: 0px 10px;
    font-size: 1.5em;
}

.mainIcon {
    font-size: 4em;
    background-color: #FFECEF;
    padding: 12px;
    border-radius: 2em;
}

.stuck {
    overflow: hidden;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);

}